.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
Icon*

_targets
*.rds
*.feather
*.dta
*.csv.gz
*.parquet
*.zip
*.pdf
*.csv
!contests.csv
!contests_snyder.csv
!paths.csv
!ri_election_dictionary_manual.csv
*.sql

*.html
*._cache
old/reports/viz_cache
data/MEDSL/md5sums.txt
