.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
Icon*

_targets
*.rds
*.feather
*.dta
*.csv.gz
*.parquet
*.zip
*.pdf
*.csv
*.xlsx
*.jpg
!contests.csv
!contests_snyder.csv
!paths.csv
!ri_election_dictionary_manual.csv
!contest_parties.csv
!counties_harv.csv
!counties_remove.csv

*.sql
*.html
*._cache
.venv
/code/paper
